<section class="rounded-3xl border border-rose-50/10 bg-[#150e0c]/80 p-8">
	<header class="mb-4">
		<p class="text-xs uppercase tracking-[0.18em] text-rose-300/80">Schedule</p>
	</header>
	<div style="width:100%;height:100%;overflow:scroll" id="my-cal-inline-adventure" class="h-[760px] rounded-2xl border border-white/10"></div>
</section>
<script is:inline type="text/javascript">
	(function (C, A, L) {
		const p = function (a, ar) {
			a.q.push(ar);
		};
		const d = C.document;
		C.Cal = C.Cal || function () {
			const cal = C.Cal;
			const ar = arguments;
			if (!cal.loaded) {
				cal.ns = {};
				cal.q = cal.q || [];
				d.head.appendChild(d.createElement('script')).src = A;
				cal.loaded = true;
			}
			if (ar[0] === L) {
				const api = function () {
					p(api, arguments);
				};
				const namespace = ar[1];
				api.q = api.q || [];
				if (typeof namespace === 'string') {
					cal.ns[namespace] = cal.ns[namespace] || api;
					p(cal.ns[namespace], ar);
					p(cal, ['initNamespace', namespace]);
				} else p(cal, ar);
				return;
			}
			p(cal, ar);
		};
	})(window, 'https://app.cal.com/embed/embed.js', 'init');

	Cal('init', 'adventure', { origin: 'https://app.cal.com' });

	Cal.ns.adventure('inline', {
		elementOrSelector: '#my-cal-inline-adventure',
		config: { layout: 'month_view', theme: 'dark' },
		calLink: 'justin-napolitano-gvu3p3/adventure'
	});

	Cal.ns.adventure('ui', {
		theme: 'dark',
		cssVarsPerTheme: { dark: { 'cal-brand': '#000000' } },
		hideEventTypeDetails: false,
		layout: 'month_view'
	});
</script>
